@charset "UTF-8";
.container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .btn {
  margin-bottom: 5rem;
}

.container .form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container_02 {
  margin-top: 10rem;
}

/*----------------------------------- leçon 03 --------------------------------*/
.container_03 {
  margin-top: 10rem;
}

/*----------------------------------- leçon 04 --------------------------------*/
.container_04 {
  margin-top: 10rem;
}

/*----------------------------------- leçon 01 --------------------------------*/
.background_clr, .container .ball {
  background-color: #6300a0;
}

.espace_container, .container, .container_02, .container_03, .container_04 {
  border-style: solid;
  border-color: black;
  border-width: .5rem 0 .5rem 0;
  padding: 5rem 0 5rem 0;
}

/*----------------------------------- leçon 02 --------------------------------*/
.font-form, *, .form__group {
  font-family: 'Monrseeat', sans-serif;
}

.font_size, .container .btn, .container_02 .btn {
  font-size: 1.8rem;
}

.container .btn {
  width: 21rem;
  cursor: pointer;
  margin: auto;
  padding: 0.85rem 1.35rem;
  border-radius: 10rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  background-color: #011c3f;
  color: #15dea5;
}

.container .btn:hover + .ball {
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

.container .ball {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-bottom: 1rem;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: -webkit-transform 2000ms;
  transition: -webkit-transform 2000ms;
  transition: transform 2000ms;
  transition: transform 2000ms, -webkit-transform 2000ms;
}

/*---------------------------------------------------------------------*/
.container_02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_02 .btn {
  cursor: pointer;
  color: #15dea5;
  border: .5rem solid;
  border-radius: 10rem;
  border-color: #011c37;
  padding: 1.85rem 3rem;
  position: relative;
  background-color: rgba(1, 28, 55, 0);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 300ms 150ms, -webkit-transform 400ms;
  transition: background-color 300ms 150ms, -webkit-transform 400ms;
  transition: transform 400ms, background-color 300ms 150ms;
  transition: transform 400ms, background-color 300ms 150ms, -webkit-transform 400ms;
}

.container_02 .btn:hover {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
  background-color: #011c37;
}

/*----------------------------------- leçon 03 --------------------------------*/
.container_03 {
  margin-top: 10rem;
}

.container_03 div {
  width: 75px;
  height: 75px;
  background: red;
  margin: 10px 0;
  -webkit-transition: width 2000ms;
  transition: width 2000ms;
}

.container_03 .box__01 {
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.container_03 .box__02 {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.container_03 .box__03 {
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.15, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.15, 1);
}

.container_03 .box__04 {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.container_03 div:hover {
  width: 1000px;
}

/*----------------------------------- leçon 04 --------------------------------*/
.container_04 > div {
  margin: 25px 0;
  border-top: 3px dashed #999;
}

.container_04 .content__01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.container_04 .content__01 div {
  width: 50px;
  height: 50px;
  background-color: green;
}

.container_04 .content__01 .box__01 {
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

.container_04 .content__01 .btn {
  margin-top: .5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5rem;
  width: 75px;
  height: initial;
  padding: 10px;
  background: red;
  color: #fff;
}

.container_04 .content__01 .btn:hover + .box__01 {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.container_04 .content__02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.container_04 .content__02 .box__02 {
  width: 50px;
  height: 50px;
  background: blue;
  margin-bottom: .5rem;
}

.container_04 .content__02 .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5rem;
  background: green;
  color: white;
  width: 75px;
  padding: 10px;
  cursor: pointer;
}

.container_04 .content__02 .btn:hover + .box__02 {
  -webkit-transform: scaleX(2);
          transform: scaleX(2);
}

.container_04 .content__02 .box__02 {
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

.container_04 .content__03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.container_04 .content__03 .box__03 {
  width: 75px;
  height: 75px;
  background-color: gray;
}

.container_04 .content__03 .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5rem;
  border: 3px solid black;
  width: 75px;
  padding: .5rem;
}

.container_04 .content__03 .btn:hover + .box__03 {
  -webkit-transform: translate(150px, 0);
          transform: translate(150px, 0);
}

.container_04 .content__03 .box__03 {
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

.container_04 .content__04 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.container_04 .content__04 .box__04 {
  background: red;
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_04 .content__04 .box__04 span {
  padding: .5rem;
  color: white;
}

.container_04 .content__04 .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75px;
  padding: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 5rem;
}

.container_04 .content__04 .btn:hover + .box__04 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container_04 .content__04 .btn:hover + .box__04 span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container_04 .content__04 .box__04 {
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  overflow: hidden;
}

.container_04 .content__04 .box__04 span {
  display: inline-block;
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
  -webkit-transition: -webkit-transform 250ms ease-out 50ms;
  transition: -webkit-transform 250ms ease-out 50ms;
  transition: transform 250ms ease-out 50ms;
  transition: transform 250ms ease-out 50ms, -webkit-transform 250ms ease-out 50ms;
}

.container_04 .content__05 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10rem;
}

.container_04 .content__05 .content_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
}

.container_04 .content__05 .content_sub .box__05_1, .container_04 .content__05 .content_sub .box__05_2 {
  background-color: violet;
  width: 75px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_04 .content__05 .content_sub .box__05_2 {
  background-color: red;
}

.container_04 .content__05 .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  background-color: orange;
  -ms-flex-item-align: end;
      align-self: end;
}

.container_04 .content__05 .btn:hover + .content_sub > .box__05_1 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.container_04 .content__05 .btn:hover + .content_sub > .box__05_2 {
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
}

.container_04 .content__05 .box__05_1 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

.container_04 .content__05 .box__05_2 {
  background-color: pink;
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

.container_04 .content__06 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  row-gap: 3rem;
  /*---------------------------------*/
}

.container_04 .content__06 .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  background: green;
  width: 75px;
  border-radius: 5rem;
  cursor: pointer;
  color: white;
}

.container_04 .content__06 .box__06 {
  width: 75px;
  height: 75px;
  background: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.container_04 .content__06 .btn:hover + .box__06 {
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.container_04 .content__06 .btn:hover + .box__06 span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container_04 .content__06 .box__06 {
  overflow: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

.container_04 .content__06 .box__06 span {
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
  -webkit-transition: -webkit-transform 280ms ease-out 50ms;
  transition: -webkit-transform 280ms ease-out 50ms;
  transition: transform 280ms ease-out 50ms;
  transition: transform 280ms ease-out 50ms, -webkit-transform 280ms ease-out 50ms;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container_04 .content__07 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  row-gap: 3rem;
  /*---------------------------------*/
}

.container_04 .content__07 .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  background: pink;
  width: 75px;
  border-radius: 5rem;
  cursor: pointer;
}

.container_04 .content__07 .box__07 {
  width: 75px;
  height: 75px;
  background: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.container_04 .content__07 .btn:hover + .box__07 {
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
}

.container_04 .content__07 .btn:hover + .box__07 span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container_04 .content__07 .box__07 {
  overflow: hidden;
  -webkit-transform: scale(0.1) rotate(-90deg);
          transform: scale(0.1) rotate(-90deg);
  -webkit-transition: -webkit-transform 330ms ease-out 50ms;
  transition: -webkit-transform 330ms ease-out 50ms;
  transition: transform 330ms ease-out 50ms;
  transition: transform 330ms ease-out 50ms, -webkit-transform 330ms ease-out 50ms;
}

.container_04 .content__07 .box__07 span {
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
  -webkit-transition: -webkit-transform 280ms ease-out 50ms;
  transition: -webkit-transform 280ms ease-out 50ms;
  transition: transform 280ms ease-out 50ms;
  transition: transform 280ms ease-out 50ms, -webkit-transform 280ms ease-out 50ms;
  display: block;
}

.container_04 .content__08 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: .5rem;
}

.container_04 .content__08 .btn {
  background-color: red;
  padding: .5rem;
  cursor: pointer;
  width: 90px;
}

.container_04 .content__08 .box__base--tranXslate {
  width: 100px;
  height: 100px;
  background-color: mediumaquamarine;
  margin-bottom: 15px;
}

.container_04 .content__08 .box__base--scaleTranX {
  width: 100px;
  height: 100px;
  background-color: pink;
}

.container_04 .content__08 .btn:active + .box > .box__base--tranXslate {
  -webkit-transform: translateX(200%) scale(2);
          transform: translateX(200%) scale(2);
}

.container_04 .content__08 .btn:active + .box > .box__base--scaleTranX {
  -webkit-transform: scale(2) translateX(200%);
          transform: scale(2) translateX(200%);
}

.container_04 .content__08 .box__base--tranXslate {
  -webkit-transition: -webkit-transform 330ms ease-in;
  transition: -webkit-transform 330ms ease-in;
  transition: transform 330ms ease-in;
  transition: transform 330ms ease-in, -webkit-transform 330ms ease-in;
}

.container_04 .content__08 .box__base--scaleTranX {
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.form__group {
  color: #6300a0;
}

.form__group input {
  border-radius: 100rem;
  padding: 0.5rem 1.5rem;
  font-size: 2.5rem;
  outline: none;
  width: 100%;
  color: #6300a0;
  background-color: #edf6f7;
  border: 2px solid #edf6f7;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.form__group input label {
  padding-left: 5rem;
}

.form__group input:focus {
  border: 2px solid #6300a0;
}

.form__group input:not(:focus):invalid {
  background-color: #b20a37;
  border: 2px solid #b20a37;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */