.container{
    @extend .espace_container;
   margin: 0 auto;
   
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    
     .btn{
         margin-bottom: 5rem;
        }
     .form{

        &__group{
            display: flex;
            flex-direction: column;
        }
    }
}

.container_02{
    @extend .espace_container;
    margin-top: 10rem;
}
/*----------------------------------- leçon 03 --------------------------------*/
.container_03{
    @extend .espace_container;
    margin-top: 10rem;
}

/*----------------------------------- leçon 04 --------------------------------*/
.container_04{
    @extend .espace_container;
    margin-top: 10rem;
}
